{% extends 'base.html.twig' %}

{% block title %}{{ 'Conferences'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Conferences'|trans }}</h1>

		<ul>
			{% for conference in conferences %}
				<li><a href="{{ path('conference_show', {shortName: conference.shortName}) }}" class="list-group-item list-group-item-action">{{ conference.name }}</a></li>
			{% endfor %}
		</ul>
{% endblock %}
